{% extends "base.html" %}

{% block title %} Candidatos {% endblock %}

{% block js %}
    <script>
        function eliminarEntrevista(id) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Si, eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/entrevistas/" + id + "/eliminar"
                }
            })
        }
    </script>
{% endblock %}

{% block content %} 

<style>
    .scrollable {
        height: 100%;
    }
</style>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h1>Entrevistas</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2 offset-md-2">
            <a href="{% url 'agregar_entrevista' %}">
                <button type="button" class="btn btn-success">Crear</button>
            </a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 ">
            {% if listaEntrevistas %}
            <div class="scrollable">
                <table class="table table-striped table-hover table-responsive-sm text-center">
                    <thead>
                        <tr>
                            <th scope="col">Reg #</th>
                            <th scope="col">Entrevista</th>
                            <th scope="col">Preguntas</th>
                            <th scope="col">Fecha de creacion</th>
                            <th scope="col">Ultima actualizacion</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrevista in listaEntrevistas %}
                            <tr scope="row">
                                <td>{{entrevista.id}}</td>
                                <td>{{entrevista.alias}}</td>
                                <td>{{entrevista.preguntas}}</td>
                                <td>{{entrevista.fechaCreacion}}</td>
                                <td>{{entrevista.fechaActualizacion}}</td>
                                <td>
                                    <a href="{% url 'detalle_entrevista' entrevista.id %}" class="btn btn-primary">Modificar</a>
                                    <a href="#" onclick="eliminarEntrevista({{ entrevista.id }})" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}