<!-- Cintilla de opciones -->
<div class="row">
    <div class="col-md-1"></div>
    <!-- Boton para agregar pregunta -->
    <div class="col-md-3">
        <!-- Boton para agregar pregunta -->
        <button id="btnAgregarPreguntas" 
            type="button" class="btn btn-success">Agregar</button>

        <!-- Boton para actualizar las preguntas -->
        <button id="btnActualizarPreguntas" 
            type="button" class="btn btn-success">Actualizar</button>
    </div>
    <div class="col-md-1"></div>
    <!-- Boton para editar preguntas -->
    <div class="col-md-3">
        <button id="btnEditarPreguntas" 
            type="button" class="btn btn-primary">Editar</button>
    </div>
    <div class="col-md-1"></div>
    <!-- Boton para eliminar pregunta -->
    <div class="col-md-3">
        <button id="btnEliminarPreguntas" 
            type="button" class="btn btn-danger">Eliminar</button>
    </div>
</div>
<hr><br>