
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a href="/" class="navbar-brand">Auto Interview Analyzer</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            {% if empresa %}
                <li class="nav-item">
                    <a href="#" class="nav-link">Calendario</a>
                </li>
                <li class="nav-item">
                    <a href="/candidates" class="nav-link">Candidatos</a>
                </li>
                <li class="nav-item">
                    <a href="/interviews" class="nav-link">Entrevistas</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Configuracion</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Cerrar Sesion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/" class="nav-link">Candidato</a>
                </li>
                <li class="nav-item">
                    <a href="login" class="nav-link">Empresa</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>