{% extends "base.html" %}

{% load static %}

{% block title %} Configuración {% endblock %}

{% block content %} 
{% load crispy_forms_tags %}
<br/>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Configuracion</h1>
            <hr>
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <p>Puedes actualizar tus datos y contraseña</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-info">Infomación personal</h4>
                                        <hr>
                                        {{ formPersona | crispy }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-info">Informacion Empresa</h4><hr>
                                        {{ formEmpresa | crispy }}
                                    </div>
                                </div>
                                <br>
                                <!--
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-info">Datos Acceso</h4><hr>
                                        {{ formUsuario | crispy }}
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Borrar" class="btn btn-secondary">
                            &nbsp;
                            <button type="submit" id="btnEnviar" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>
{% endblock %}