<html>
    <head>
        <meta charset="utf-8">
        {% load bootstrap4 %} {# Cargamos la librería #}
        {% bootstrap_css %} {# CSS Bootstrap #}
        <link rel="stylesheet" href="./static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="favicon.ico">
        <title>AIA - {% block title %} {% endblock %}</title>
    </head>

    <body>
        
        <!--Referencia al componente de header/navbar-->
        {% include "Components/header.html" %}

        <!--Referencia al contenido de la pagina-->
        {% block content %} {% endblock %}

        <!--Referencia al componente de footer-->
        {% include "Components/footer.html" %}

        {% bootstrap_javascript jquery='full' %}
    </body>
</html>