{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simulador de Entrevistas v0.1</title>
        {% load bootstrap4 %} {# Cargamos la librería #}
        {% bootstrap_css %} {# CSS Bootstrap #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="favicon.ico">
    </head>
    <body>
        {% include "Components/navbar.html" %}

        <div class="container-fluid">
            <br/>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="card col-md-3">
                    <div class="card-body">   
                        <div class="row">
                            <p class="col-sm-1"></p>
                            <h1 class="card-title text-primary font-weight-bold">Bienvenido candidato</h1>
                        </div>

                        <form>
                            <div class="form-group row">
                                <p class="col-sm-1"></p>
                                <label for="txtCode" class="col-sm-10">Ingrese su codigo: </label>
                            </div>
                            <div class="form-group row">
                                <p class="col-sm-1"></p>
                                <input type="text" class="form-control col-sm-10" id="txtCode" name="txtCode" placeholder="Ejemplo: RH-000000">
                            </div>
                            <br/>
                            <div class="row">
                                <label for="" class="col-sm-1"></label>
                                <button type="submit" class="btn btn-primary col-sm-10">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>  

                <div class="col-md-5">
                    <img src="{% static 'img/candidato_1.jpg'%}" 
                    class="img-fluid" alt=""/>
                </div> 
            </div>         
        </div>

        {% include "Components/bottom.html" %}

        {% bootstrap_javascript jquery='full' %}
    </body>
</html>