{% extends "base.html" %}

{% block title %} 
    Detalle Vacante
{% endblock %}

{% block js %}
    <script>
        function eliminarCriterio(vacante_id, criterio_id) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Si, eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/empresas/vacantes/" + vacante_id + "/criterios/" + criterio_id + "/eliminar"
                }
            })
        }
    </script>
{% endblock %}

{% block content %} 
{% load crispy_forms_tags %}
<br>
<div class="container-fluid">
    
    <!-- Titulo -->
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
                <div class="card">
                <div class="card bg-success text-light">    
                    <div class="card-body">
                        <h4 class="card-title">
                            Vacante # {{vacante.id}} - {{vacante.nombre}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Registro -->
    <div class="row">
        <div class="col-12 col-sm-5 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Infomación general</h4>
                    <hr>
                    {% if formVacante %} <!-- Form para actualizar la información general de la entrevista-->
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ formVacante | crispy}}
                            <hr><br/>
                            <div class="d-flex justify-content-end">
                                <input type="reset" value="Borrar" class="btn btn-secondary">
                                &nbsp;
                                <button type="submit" id="btnEnviar" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Agregar criterio</h4>
                    <hr>
                    {% if formAgregarCriterio %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ formAgregarCriterio | crispy}}
                            <hr>
                            <div class="d-flex justify-content-end">
                                <button type="submit" id="btnEnviar" class="btn btn-success">Agregar</button>
                            </div>
                        </form> 
                    {% endif %}
                    <hr>
                    <!-- Lista de preguntas -->
                    {% if listaCriterios %}
                    <h4 class="card-title">Preguntas</h4>
                    <hr>
                        <div class="scrollable">
                            <table class="table table-striped table-hover table-responsive-sm text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Criterio</th>
                                        <th scope="col">Puntuacion</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                {%for criterio in listaCriterios%}
                                    <tbody>
                                        <tr>
                                            <td>{{criterio.id}}</td>
                                            <td>{{criterio.criterio}}</td>
                                            <td>{{criterio.puntuacion}}</td>
                                            <td>
                                                <a href="#" onclick="eliminarCriterio({{vacante.id}}, {{criterio.id}})" class="btn btn-danger">Eliminar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
      
    </div>
</div>
<br/><br><br><br><br>

{% endblock %}


