{% extends "base.html" %}

{% load static %}

{% block title %} Detalle Candidato {% endblock %}

{% block content %} 

    {% if candidato %}

        <!--Estilo para los botones y tabla de preguntas-->
        <style>
            .scrollable {
                height: 300px;
                overflow-y: scroll;
            }

            .form-check-delete, #btnActualizarEntrevista, 
            #btnActualizarPreguntas, #btnEliminarPreguntas,
            #add_question {
                display: none;
            }
        </style>

        <div class="container-fluid">

            <!--Titulo de la entrevista-->
            <br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card bg-success text-light">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Candidato # {{ candidato.id }} - {{candidato.persona.nombre}}
                                    </h4>
                                </div>
                            </div>
                            <hr>
                            <!-- Datos generales de la entrevista-->
                            <div class="card-text text-center">
                                <form>
                                    <div class="form-group row">
                                        <label for="txtNombre" class="col-md-3">Nombre: </label>
                                        <input type="text" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtNombre" id="txtNombre"
                                            value="{{candidato.persona.nombre}}" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtAPaterno" class="col-md-3">Apellido Paterno: </label>
                                        <input type="text" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtAPaterno" id="txtAPaterno"
                                            value="{{candidato.persona.ap_paterno}}" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtAMaterno" class="col-md-3">Apellido Materno: </label>
                                        <input type="text" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtAMaterno" id="txtAMaterno"
                                            value="{{candidato.persona.ap_materno}}" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtEdad" class="col-md-3">Edad: </label>
                                        <input type="text" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtEdad" id="txtEdad"
                                            value="{{candidato.persona.edad}}" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPuesto" class="col-md-3">Puesto: </label>
                                        <input type="text" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtPuesto" id="txtPuesto"
                                            value="{{candidato.vacante.nombre}}" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtFechaRegistro" class="col-md-3">Fecha Registro: </label>
                                        <input type="date" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtFechaRegistro" id="txtFechaRegistro" 
                                            value="{{candidato.fechaRegistro}}" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtFechaEntrevista" class="col-md-3">Fecha Entrevista: </label>
                                        <input type="date" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtFechaEntrevista" id="txtFechaEntrevista" 
                                            value="{{candidato.fechaEntrevista}}" disabled>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-md-1"></div>
                                        <button id="btnEditarEntrevista" type="button" 
                                            class="btn btn-primary col-md-4">Editar</button>
                                        <div class="col-md-2"></div>
                                        <button id="btnActualizarEntrevista" type="submit" 
                                            class="btn btn-success col-md-4">Actualizar</button>
                                        <div class="col-md-1"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}  
{% endblock %}