{% extends "base.html" %}

{% load static %}

{% block title %} Detalle Entrevista {% endblock %}

{% block content %} 

    {% if entrevista %}

        <!--Estilo para los botones y tabla de preguntas-->
        <style>
            .scrollable {
                height: 300px;
                overflow-y: scroll;
            }

            .form-check-delete, #btnActualizarEntrevista, 
            #btnActualizarPreguntas, #btnEliminarPreguntas,
            #add_question {
                display: none;
            }
        </style>

        <div class="container-fluid">

            <!--Titulo de la entrevista-->
            <br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="card bg-success text-light">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Entrevista # {{entrevista.id }} - {{entrevista.alias}}
                                    </h4>
                                </div>
                            </div>
                            <hr>
                            <!-- Datos generales de la entrevista-->
                            <div class="card-text text-right">
                                <form>
                                    <div class="form-group row">
                                        <label for="txtAlias" class="col-md-3">Alias</label>
                                        <input type="text" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtAlias" id="txtAlias" disabled value="{{entrevista.alias}}">
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtDateCreacion" class="col-md-3">Fecha Creacion: </label>
                                        <input type="date" class="form-control col-md-8 form-entrevista-general" 
                                            name="txtDateCreacion" id="txtDateCreacion" disabled value="{{entrevista.fechaCreacion}}">
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtDateUpdate" class="col-md-3">Fecha Ultima actualizacion: </label>
                                        <input type="date" class="form-control col-md-8 form-entrevista-general"
                                            name="txtDateUpdate" id="txtDateUpdate" value="{{entrevista.fechaActualizacion}}" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-1"></div>
                                        <button id="btnEditarEntrevista" type="button" 
                                            class="btn btn-primary col-md-4">Editar</button>
                                        <div class="col-md-2"></div>
                                        <button id="btnActualizarEntrevista" type="submit" 
                                            class="btn btn-success col-md-4">Actualizar</button>
                                        <div class="col-md-1"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Seccion de preguntas para la entrevista -->
                {% if listaPreguntas %}
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">

                            <!-- Titulo de la pagina -->
                            <div class="card bg-primary text-light text-center">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Preguntas:  
                                        <span class="badge badge-dark">
                                            {{listaPreguntas|length}}
                                        </span>
                                    </h4>
                                </div>
                            </div>
                            <hr>

                            {% include 'Components/detail_options.html' %}

                            <!-- Lista de preguntas -->
                            <div class="card-text text-right row">
                                <div class="table-responsive col-md-12">
                                    <div class="scrollable col">
                                        {% for pregunta in listaPreguntas %}
                                            <form>
                                                <div class="form-group row">
                                                    <label for="txtQuestion{{pregunta.id}}" class="col-md-2">{{pregunta.id}}</label>
                                                    <input type="text" name="txtQuestion{{pregunta.id}}" 
                                                        id="txtQuestion{{pregunta.id}}" 
                                                        class="form-control col-md-8 form-input-preguntas" 
                                                        value="{{pregunta.pregunta}}" disabled>
                                                    
                                                    <label class="form-check-label col">
                                                        <input type="checkbox" class="form-check-input form-check-delete col" 
                                                            name="{{pregunta.id}}" id="{{pregunta.id}}" value="checkedValue">
                                                    </label>
                                                </div>
                                            </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}  
{% endblock %}