{% extends "base.html" %}

{% block title %} Candidatos {% endblock %}

{% block js %}
    <script>
        function eliminarCandidato(id) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Si, eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/candidatos/" + id + "/eliminar"
                }
            })
        }
    </script>
{% endblock %}

{% block content %} 

<style>
    .scrollable {
        height: 100%;
    }
</style>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h1>Candidatos</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2 offset-md-2">
            <a href="{% url 'agregar_candidato' %}">
                <button type="button" class="btn btn-success">Agregar</button>
            </a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 ">
            {% if listaCandidatos %}
            <div class="scrollable">
                <table class="table table-striped table-hover table-responsive-sm text-center">
                    <thead>
                        <tr>
                            <th scope="col">Reg #</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Puesto Solicitado</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col">Fecha de entrevista</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidato in listaCandidatos %}
                            <tr scope="row">
                                <td>{{candidato.id}}</td>
                                <td>{{candidato.persona.nombre}} {{candidato.persona.ap_paterno}}</td>
                                <td>{{candidato.vacante.vacante}}</td>
                                <td>{{candidato.persona.edad}}</td>
                                <td>{{candidato.fechaRegistro}}</td>
                                <td>{{candidato.fechaEntrevista}}</td>
                                <td>
                                    <a href="{% url 'detalle_candidato' candidato.id %}" class="btn btn-primary">Modificar</a>
                                    <a href="#" onclick="eliminarCandidato({{ candidato.id }})" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}