{% extends "base.html" %}

{% block title %} 
    Detalle Candidato 
{% endblock %}

{% block content %} 
{% load crispy_forms_tags %}
<br>
<!-- Titulo -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
                <div class="card">
                <div class="card bg-success text-light">    
                    <div class="card-body">
                        <h4 class="card-title">
                            Candidato # {{ candidato.id }} - {{candidato.persona.nombre}} {{candidato.persona.ap_paterno}} {{candidato.persona.ap_materno}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Registro -->
    <div class="row">
        <div class="col-12 col-sm-5 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Infomación personal</h4>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ formPersona | crispy }}
                        <hr>
                        {{ mensajePersona }}
                        <br/>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Borrar" class="btn btn-secondary">
                            &nbsp;
                            <button type="submit" id="btnEnviar" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Vacante asignado</h4>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ formCandidato | crispy }}
                        <hr>
                        {{ mensajeCandidato }}
                        <br/>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Borrar" class="btn btn-secondary">
                            &nbsp;
                            <button type="submit" id="btnEnviar" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br><br><br><br>

{% endblock %}


