<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom">
    <div class="row">
        <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item col-md-5">
                <a href="{% url 'nosotros' %}" class="nav-link">AIA ® 2021</a>
            </li>
            <li class="nav-item col-md-6">
                <a href="#" class="nav-link">Políticas de uso</a>
            </li>
            <li class="nav-item col-md-6">
                <a href="#" class="nav-link">Términos de uso</a>
            </li>
        </ul>
    </div>
</nav>