{% extends "base.html" %}

{% load static %}

<!--Se configura el titulo-->
{% block title %} Ingreso Candidato {% endblock %}

<!--Se configura el contenido de la pagina-->
{% block content %}
{% load crispy_forms_tags %}
    <div class="container-fluid">
        <br/>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="card col-md-3">
                <div class="card-body">   
                    <div class="row">
                        <p class="col-sm-1"></p>
                        <h1 class="card-title text-primary font-weight-bold">Bienvenido candidato</h1>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <hr><br/>
                        <div class="row">
                            <label for="" class="col-sm-1"></label>
                            <button type="submit" class="btn btn-primary col-sm-10">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>  

            <div class="col-md-5">
                <img src="{% static 'img/candidato_ingreso.jpg' %}" 
                class="img-fluid" alt="img-ingreso"/>
            </div> 
        </div>         
    </div>
{% endblock %}